# Created by .ignore support plugin (hsz.mobi)
vendor
tests
src/AppBundle/DataFixtures
app/config/parameters.yml
composer.lock
var
var/bootstrap.php.cache
var/SymfonyRequirements.php
composer.phar
.DS_Store