{% extends 'backend_layout.html.twig' %}


{% block rightColumn %}
    <div class="right-column wrapper">
        <div class="container">
            <h1 class="right-column title">首页设置</h1>
            <hr>

            <div class="company-form col-xs-4">
                <form>
                    <div class="form-group">
                        <label for="trading-name">公司名称</label>
                        <input type="email" class="form-control" id="trading-name" placeholder="例如:Visual Gravity">
                    </div>
                    <div class="form-group">
                        <label for="main-heading">首页正中大标题</label>
                        <input type="password" class="form-control" id="main-heading" placeholder="例如:澳洲/新西兰货源">
                    </div>
                    <div class="form-group">
                        <label for="sub-heading">首页正中小标题</label>
                        <input type="password" class="form-control" id="sub-heading" placeholder="例如:我们专注于提供最为纯正的健康产品">
                    </div>

                    <div class="form-group">
                        <label for="partner-heading">首页合作伙伴标题</label>
                        <input type="password" class="form-control" id="partner-heading" placeholder="例如:合作伙伴">
                    </div>

                    <button type="submit" class="btn btn-primary">确认设置</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}