{% extends 'backend_layout.html.twig' %}


{% block rightColumn %}
    <div class="right-column wrapper">
        <div class="container">
            <h1 class="right-column title">公司简介</h1>
            <hr>
        </div>
    </div>

{% endblock %}