body, html
{
    height: 100%;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.main-wrapper
{
    min-width: 980px;
    min-height: 100%;
    display: flex;
}

.in
{
    display: block;
}

.primary-col
{
    color:white;
    width:200px;
    background-color: #4a4140;
    float: left;
    min-height: 100%;
}

.vg-logo
{
    background-color: #27AA67;
    width: 100%;
    height:130px;
    border-bottom: 2px solid white;
}


.vg-logo span
{
    position: absolute;
    left:50px;
    top:15px;
    display: block;
    width:100px;
    height:100px;
    color: white;
    font-size:70px;
    font-weight: 700;
    text-align: center;
    border-radius: 15%;
    border:2px solid white;
}


.nav-primary a
{
    cursor: pointer;
    font-size:16px;
    color:white;

}

.nav-primary .primary-link
{
    padding: .5em 1.25em .5em .5em;
}

.nav-primary li  a:hover
{
    background-color: black;
}

.nav-secondary
{
    cursor: pointer;
    font-size:13px;
    color:white;
    background-color: rgb(96, 94, 94);
    padding-left: 0;
}
.nav-secondary a
{
    padding: .5em 1.25em .5em 1.5em;
    display: block;
}


.nav-secondary a:hover
{
    text-decoration: none;
}


.nav > li
{
    line-height: 20px;
}

.active
{
    background-color:black;
}

i
{
    line-height: 16px;
    width:1.25em;
    margin-right: 2px;
}


.right-column.wrapper
{
    min-height: 100%;
    width: calc(100% - 200px);
}


.right-column hr
{
    margin-left:15px;
}

.right-column.title
{
    margin-top:40px;
    margin-left:15px;
    font-size:32px;
}

.right-column-container
{
    width:auto;
}


.add-brand-btn-div
{
    padding-left:0;
}

.brand-list-table
{
    margin-top:50px;
}

.brand-list-table td
{
    vertical-align: middle !important;
    height:57px;
}

.brand-list-table td.cell-brand-name
{
    width:15%;
}

.brand-list-table td.cell-brand-logo
{
    width:5%;
}

.brand-list-table td.cell-brand-desc
{
    width:58%;
}

.brand-list-table img
{
    width:100px;
    height:50px;
}



.brand-edit-form img
{
    width:150px;
    margin:10px;
}

.brand-edit-form .image-wrapper
{
    border:1px #cccccc solid;
    margin:10px 0;
    border-radius: 4px;
}


.category-list, .product-list
{
    margin-top:50px;
}


.cell-product-desc
{
    max-width:300px;
}

.product-list .actions
{
    min-width:140px;
}

.table-header
{
    background-color:#27AA67;
    color:#FFFFFF;
    font-weight: 400;
}


ul
{
    padding-left: 0;
}

li
{
    margin-bottom:10px;
    list-style-type: none;
}


.delete-category-link
{
    position: absolute;
    right:0;
    height:20px;
}