.pace {
    z-index: 3;
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    background: #449454;

    pointer-events: none;
}

/* end of pace plugin*/

.login-error
{
    padding: 8px 24px;
    border-left:4px solid #DC3232;
}

.form-signin, .form-reset-password
{
    max-width: 330px;
    padding: 50px 15px 0 15px;
    margin: 0px auto;
}

.form-signin .form-control, .form-reset-password .form-control
{
    margin-bottom: 35px;
    height: 46px;
}

.form-signin label
{
    font-weight: 400;
    margin-bottom: 15px;
}

.login-form
{
    margin-top: 40px;
}

.login-links
{
    margin-top: 20px;
}


.reset-password .back-link
{
    margin-top: 20px;
}

.reset-password .reset-information
{
    margin-bottom: 20px;
}

.reset-password h3
{
    margin-bottom: 20px;
}
/*end of security part*/



body
{
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.top-nav-bar
{
    height: 50px;
    background-color:#333;
    color:white;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 2;
}

.custom-nav
{
    padding:0 19px 0 80px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}



.logo
{
    position: absolute;
    left:40px;
    padding-top:5px;
    width:35px;
}


.breadcrumb-wrapper
{
    margin-top:50px;
}

.breadcrumb-wrapper a
{
    color:black;
}




.result-wrapper
{
    display: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border:1px solid #eeeeee;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-color: #FFF;
    color: #000 !important;
    font-size: 1.2rem;
    position: absolute;
    width: 450px;
    z-index: 2000;
    top: 45px;
    right: 15px;
    min-height: 30px;
}

.result-wrapper ul
{
    padding-left:5px;
}


.result-wrapper a
{
    color:#333;
    font-weight: 600;
}

@media (max-width: 960px)
{
    .nav-search
    {
        padding-right:0px;
    }

    .result-wrapper
    {
        right: 20px;
    }

}




@media (max-width: 765px)
{
    .result-wrapper
    {
        top: 58px;
        right: 0;
        max-width: 300px;
        margin-right: 15px;
        margin-left: 20px;
    }

    .top-nav-bar, .navbar-fixed-bottom, .navbar-fixed-top
    {
        position: absolute;
    }

    .top-nav-bar
    {
        height:72px;
    }

    .navbar-fixed-top
    {
        margin-top:72px;
    }

}

.result-wrapper hr
{
    margin-top:10px;
}

.result-wrapper span
{
    font-size:12px;
}


.result-wrapper .result-title
{
    margin: 10px 10px 0px 10px;
}

.result-wrapper .result-text
{
    margin:10px;
    font-size: 12px;
}

.result-wrapper li
{
    list-style-type: none;
    margin-bottom: 5px;
}


.more-inner
{
    min-width:450px;
    padding: 0px 15px 15px 15px;
    max-height: 700px;
    overflow: auto;
}


.sub-category-link
{
    padding-top:5px;
    padding-bottom: 15px;
}

.sub-category-inner
{
    padding:5px;
}

.sub-category-title
{
    margin-bottom: 5px;
}

.sub-category-title a
{
    color:black;
}

.sub-category-title a:hover
{
    background-color: transparent !important;
}

.sub-category-title, .brand-title
{
    font-weight:600;
}

.sub-category-product
{
    padding-left:0px;
}

.sub-category-product li
{
    display: inline-block;
    margin-right: 20px;
    margin-top:5px;
}

.sub-category-product li a
{
    color:black !important;
}

.sub-category-product li a:hover
{
    background-color: transparent !important;
    color:black !important;
}

.sub-category-span
{
    padding: 5px;
}

.sub-category-span a
{
    color: black;
}

.other-brands
{
    margin-top:30px;

}


.brand-wrapper
{
    max-width: 850px;
    margin: 0 auto;
}


.brand
{
    margin-top: 10px;
    background-color: #E4E3E3;
}

.brand-desc
{
    line-height: 1.8em;
    margin-top:20px;
}

.brand-logo img
{
    width:160px;
    height:80px;
    margin-top:20px;
    border: 1px solid #e9e9e9;

}

.brand-logo img:hover {
    cursor: pointer;
}


#brand-products
{
    margin-top:50px;
}

#brand-products h3
{
    font-weight: 600;
}

.brand-category
{
    color:#888888;
    font-weight: 400;
    border-left: 4px solid #888888;
    padding-left: 5px;
    margin-bottom: 0px;
    font-size:24px;
}

.brand .brand-inner
{
    padding:10px;
}
.brand-inner .brand-title-container
{
    padding-left:0px;
}
.brand-inner .brand-label
{
    margin-top:10px;
}

.brand-inner .brand-label a:hover
{
    background-color: transparent !important;
    color:transparent;
}

.intro
{
    background-color:#27AA67;
    height:400px;
}

.intro h1
{
    font-size:42px;
    font-weight: 600;
    margin-bottom: 0px;
}

.intro h3
{
    margin:0;
}

.intro h1,.intro h2,.intro h3, .intro h4
{
    width:100%;
    color:white;
}

.intro-container
{
    padding-top:100px;
}

.partner
{
    background-color: #1e8450;
}
.partner h1
{
    padding:10px 0px 10px 0px;
    border:none;
    color:white;
}

.partner h1:after
{
    border:none;
    margin:0px;
}

.wrapper
{
    margin-top: 100px;
    min-height: 800px;
    margin-bottom: 100px;
}

.header-text h1
{
    margin-top:20px;
    margin-bottom:0px;
}

h1
{
    width:240px;
    margin:0 auto;
    margin-bottom: 40px;
}

h1::after {
    content: "";
    display: block;
    font-weight: 200;
    width: 106px;
    height: 0px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #27AA67;
    margin: 20px auto 0px auto;
}

h2,h4
{
    font-weight: 600;
}

footer
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #4d4b51;
}

footer a
{
    color: white;
}

footer a:hover
{
    color: white;
}

footer a:focus
{
    color: white;
}

footer ul
{
    padding-left:0px;
}

footer li
{
    list-style-type: none;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    font-size: 16px;
}



.thumbnail img
{
    padding:10px;
}


.product-block
{
    margin-top:50px;
}


.product-container
{
    margin-top:50px;
}



.product-container .image-inners
{
    margin: 0 auto;
}

.product-area img
{
    max-width: 350px;
}


.product-row
{
    max-width: 1000px;
    margin: 0 auto;
}

.product-price
{
    font-size: 16px;
    font-weight: 600;
    color: #b7b5b5;
}

.product-desc
{
    line-height: 1.8em;
    position: absolute;
    top:200px;
    color: black;
}