.navbar
{
    margin-top:50px;
}

.navbar-inverse
{
    background-color: #27AA67;
    border: 0px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a
{
    color:white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover
{
    background-color: #333;
}

.navbar-nav
{
    font-size:16px;
}

.navbar-fixed-bottom, .navbar-fixed-top
{
    z-index: 1;
}

.navbar-brand
{
    font-size:28px;
    font-weight: 500;
}

.thumbnail
{
    border-radius: 0px;
}

.thumbnail-header
{
    background-color: #27AA67;
    width: 100%;
    height: 15px;
}



.caption
{
    line-height: 1.6em;
}


.dropdown-menu
{
    border:none;
    background-color:#eeeeee;
    border-radius: 0;
    min-width: 280px;
}


.nav > li > a:focus, .nav > li > a:hover
{
    background-color: #333333;
}

.dropdown-menu li a
{
    color:white !important;
}

.dropdown-menu  li a:hover
{
    color: white !important;

}
.dropdown-menu a:hover
{
    background-color: #333 !important;

}


.nav-search .form-control
{
    border: 0px solid #CCC;
    border-radius: 2px;
}

.input-group-addon, .input-group-btn
{
    border-radius:2px;
    border:none;
    background-color: #449454;
    color:white;
}



.result-wrapper .label-primary, .more-inner .label-primary
{
    background-color: #27AA67;
}


.form-group
{
    margin-bottom: 25px;
}


.alert-success
{
    margin-left:15px;
    color: white;
    background-color: #27AA67;
    border-color: #27AA67;
}


.btn-primary
{
    color: #fff;
    background-color: #27AA67;
    border-color: #27AA67;
}


.btn-primary:hover, .btn-primary:focus
{
    color: #fff;
    background-color: #187445;
    border-color: #187445;
}


.breadcrumb .active
{
    background-color: transparent;
}


.breadcrumb, .well
{
    border-radius: 0px;
}


textarea.form-control
{
    min-height: 200px;
}